<!-- <div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container class="column" matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <ng-container class="column" matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container class="column" matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <ng-container class="column" matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div> -->



<table class='rg-table' summary='Hed'>
  <thead>
    <tr>
      <th class='text '>Name</th>
      <th class='text '>City</th>
      <th class='text '>Price</th>
      <th class='number '>Rating</th>
    </tr>
  </thead>
  <tbody>
    
      <tr class=''>
        <td class='text ' data-title='Name'>Superette</td>
        <td class='text ' data-title='City'>Holliston</td>
        <td class='text ' data-title='Price'>$8.00</td>
        <td class='number ' data-title='Rating'>4.5</td>
      </tr>
    

      <tr class=''>
        <td class='text ' data-title='Name'>Tasty Treat</td>
        <td class='text ' data-title='City'>Ashland</td>
        <td class='text ' data-title='Price'>$5.00</td>
        <td class='number ' data-title='Rating'>2.0</td>
      </tr>
    

      <tr class=''>
        <td class='text ' data-title='Name'>Big Fresh</td>
        <td class='text ' data-title='City'>Framingham</td>
        <td class='text ' data-title='Price'>$9.00</td>
        <td class='number ' data-title='Rating'>5.0</td>
      </tr>
    

      <tr class=''>
        <td class='text ' data-title='Name'>Seta's Cafe</td>
        <td class='text ' data-title='City'>Watertown</td>
        <td class='text ' data-title='Price'>$7.50</td>
        <td class='number ' data-title='Rating'>3.8</td>
      </tr>
    
  </tbody>
</table>